* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1{
    font-size: 37px;
    font-weight: 800;
    color: midnightblue;
    padding-bottom: 30px;
}

p {
    color: rgb(116, 129, 143);
    font-size: 17px;
    font-weight: 400;
    padding: 30px;
    text-align: center;
    position: relative;
} 
#preloader {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: absolute;
    z-index: 100;
}
    
.logoimage {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    height: 75px;
    width: auto;
    z-index: 100;
}

.ring {
    position: absolute;
    width: 240px;
    height: 240px;
    color: #000;
    border-radius: 50%;
    animation: ring 2s linear infinite;
    z-index: 100;
}

@keyframes ring {
    0% {
    transform: rotate(0deg);
    box-shadow: 2px 5px 8px #ffc800;
    }
    50% {
    transform: rotate(180deg);
    box-shadow: 2px 5px 4px #19b900;
    }
    100% {
    transform: rotate(360deg);
    box-shadow: 2px 5px 4px #00a6ff;
    }
}

.ring:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

span {
    color: #737373;
    font-size: 27px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px; 
    animation: text 3s ease-in-out linear infinite;
    z-index: 100;
}

@keyframes text {
    0% {
    color: #737373;
    }
    50% {
    color: white;
    }
}

nav {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    height: 75px;
    position: fixed;
    top: 0;
    z-index: 90;
    width: 100%;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

.logoimage {
    width: auto;
    height: 75px;
    background-color: white;
    position: fixed;
    top: 0;
}

.nav-links {
    max-width: 1050px;
    align-items: baseline;
    position: fixed;
    right: 0;
    top: 0;
    
}

.nav-links ul li {
    list-style: none;
    padding: 10px 20px;
    display: inline-block;
}

.nav-links ul li a{
    color: midnightblue;
    text-decoration: none;
    font-size: 27px;
    font-weight: 600;
}